*.[oa]
*~
*.gz
*.lo
*.la
*.pc
configure
config.h.in
config.h
Makefile.in
install-sh
mfsum
src/mfsum
src/test_stack
autom4te.cache/
Makefile
src/Makefile
autoscan.log
config.log
config.status
aclocal.m4
depcomp
missing
src/.deps/
src/.dirstamp
stamp-h1
.libs/
config.guess
config.sub
libtool
ltmain.sh
.deps/
quick_test
test/.deps/
test/.dirstamp
